<div class="center jumbotron">
  <h1 style="text-align: center;">Welcome to the Employee Record</h1>

  <h2 style="text-align: center;">
    This is the home page for Employee Record
  </h2>

  <% if !logged_in? %>
  	<%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>