<% provide(:title, "Employees") %>
<% provide(:heading, "Employees") %>
<div class="well">
  <%= link_to "New Employee", new_employee_path, class: "btn btn-primary" %>
  <% if @employees.size > 0 %>
    <%= link_to "Assign Job", job_assignments_path, class: "btn btn-warning" %>
  <% end %>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Birthday</th>
      <th>Department</th>
      <th>Address</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @employees.size == 0 %>
      <tr>
        <td colspan="8">No employees found.</td>
      </tr>
    <% else %>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.first_name %></td>
          <td><%= employee.middle_name %></td>
          <td><%= employee.last_name %></td>
          <td><%= employee.birthday %></td>
          <% dept = Department.find(employee.department_id) %>
          <td>
            <% if dept.nil? %>
              <%= "Department not found" %>
            <% else  %>
              <%= dept.name %>
            <% end %>
          </td>
          <% if manage_employee(employee.id) %>
            <td>
              <%= link_to "Add", employee_addresses_path(employee), class: "btn btn-default" %>
            </td>
            <td>
              <%= link_to "Edit", edit_employee_path(employee), class: "btn btn-default" %>
            </td>
            <td>
              <%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure you wish to delete this employee?' }, class: "btn btn-danger"  %></td>
            </td>
          <% else %>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>