<% provide(:title, "Job Titles") %>
<% provide(:heading, "Job Titles") %>
<div class="well">
  <%= link_to "New Job Title", new_job_title_path, class: "btn btn-primary" %>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Job Title</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @job_titles.size == 0 %>
      <tr>
        <td colspan="3">No job_titles found.</td>
      </tr>
    <% else %>
      <% @job_titles.each do |job_title| %>
        <tr>
          <td><%= job_title.name %></td>
          <% if manage_job_title(job_title.id) %>
            <td>
              <%= link_to "Edit", edit_job_title_path(job_title), class: "btn btn-default" %>
            </td>
            <td>
                <%= link_to 'Delete', job_title, method: :delete, data: { confirm: 'Are you sure you wish to delete this job title?' }, class: "btn btn-danger"  %>
            </td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>