<%= form_for @job_assignment do |f| %>

<%= f.label :employee_id %>
<%= f.collection_select(:employee_id, Employee.all, :id, :first_name, {}, {:class=>'form-control'}) %>

<%= f.label :job_title_id %>
<%= f.collection_select(:job_title_id, JobTitle.all, :id, :name, {}, {:class=>'form-control'}) %>

<%= f.label :start_date %>
<%= date_field :job_assignment, :start_date, class: 'form-control' %>

<%= f.label :end_date %>
<%= date_field :job_assignment, :end_date, class: 'form-control' %>

<%= f.submit yield(:button), class: "btn btn-primary" %>
<% end %>